fastapi==0.121.2
uvicorn==0.38.0
starlette==0.49.3
Jinja2==3.1.4
python-multipart==0.0.20
orjson==3.10.18
bcrypt==3.2.0
python-jose==3.5.0
cryptography==46.0.3
SQLAlchemy==2.0.41
PyMySQL==1.1.1
pydantic==2.11.5
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
ultralytics==8.3.230
ultralytics-thop==2.0.18
numpy==2.2.6
opencv-python-headless==4.12.0.88
scipy==1.13.1
google-api-core==2.19.0
google-auth==2.29.0
google-generativeai==0.8.5
requests==2.32.2
beautifulsoup4==4.12.3
aiohttp==3.9.5
aiofiles==23.2.1
lxml==5.3.1
pillow==10.2.0
pandas==2.3.0
tqdm==4.67.1
rich==14.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
